svg {
    transition: 0.3s;
}
.menu-item:hover > svg {
    transform: rotate(180deg) !important;
}
.np-container {
    bottom: 0;
}

.text-line {
    text-decoration-line: line-through;
}
.text-muted2 {
    color: rgba(0,0,0,0.4);
}